// PAGES
@import 'pages/_home.scss';
@import 'components/loader.scss';
@import 'components/typing.scss';

@font-face {
  font-family: 'US Blaak';
  src: url('../fonts/USBlaak-Bold.woff2') format('woff2'), url('../fonts/USBlaak-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'US Blaak';
  src: url('../fonts/USBlaak-Black.woff2') format('woff2'), url('../fonts/USBlaak-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// COMMON
body {
  background-color: skyblue;
  overflow: hidden;
}

main {
  @apply relative min-h-screen;
}

.content {
  @apply relative z-10;
}
